* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a, body, button, h1, h2, h3, h4, h5, h6, input, p, span {
  font-family: Onest, sans-serif !important;
}

body {
  margin: 0;
  font-family: Onest, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  min-height: 100vh;
}
